* {
    font-family:  "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    font-weight: 600 !important;
}

 .repository-with-sidebar .repository-content {
    float: left !important;
}